/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0;
  background-color: #d6d6d6;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #000000;
}

th,
td {
  padding: 4px;
  text-align: center;
}

th {
  background-color: #694f43;
  color: #fff;
}

#resultadoMes {
  /* margin: 20px auto 20px auto; */
  border: 1px solid rgb(100, 100, 100);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  max-width: 600px;
  display: block;
}

#calendario {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#salvarPDF {
  font-size: 11px;
  border-radius: 2px;
}

#excluirbtn {
  font-size: 11px;
  float: none;
  border-radius: 1px;
}

#limpar {
  font-size: 11px;
  border-radius: 2px;
}

.botoes {
  display: inline;
  vertical-align: middle;
}

#atualizarResumo {
  background-color: #694f43;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resumo-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resumo-mes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px; /* Espaçamento entre os itens */
  font-size: 18px; /* Ajuste conforme necessário */
}

#baseCalculo {
  color: #7d7d7c;
}

.summary {
  margin-bottom: 20px;
}

.resumo-mensal {
  justify-content: space-between;
  align-items: center;
}

.resumo-mensal h2 {
  font-size: 1.5em;
  margin: 0;
}

.resumo-value {
  font-size: smaller;
  color: #3788d8;
}

h2 {
  margin-top: 20px;
  font-size: 1.4em;
}

.btn-especifico {
  padding: 8px 15px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-especifico:hover {
  background-color: #0056b3;
}

.registro-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-size: 1em;
}

.controls {
  margin-top: 20px;
}

.controls label {
  margin-right: 10px;
}

.select {
  padding: 8px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#atualizarResumo {
  padding: 8px 20px;
  font-size: 1em;
  background-color: #3788d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#atualizarResumo:hover {
  background-color: #65aaef;
}

label,
#mesSelecionado {
  display: block;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

label {
  margin-bottom: 0px;
  font-size: 14px;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.tabela {
  margin-top: 15px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-especifico {
  background-color: #694f43;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  max-width: 200px;
}

.fc .fc-toolbar {
  max-width: 600px;
  text-transform: uppercase;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 3em;
}

.btn-especifico:hover {
  background-color: #a17967;
  transform: translateY(-2px);
}

.btn-especifico:active {
  transform: translateY(1px);
}

@media (max-width: 600px) {
  .btn-especifico {
      width: 100%;
  }

  .resumo-value {
    font-size: 12px;
    color: #3788d8;
  }

}

#mesSelecionado {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s;
  text-transform: uppercase;
}

#mesSelecionado:focus {
  border-color: #4caf50;
}

#salvar {
  display: none;
  /* Gambiarra pra sumir o botão salvar */
  background-color: #27ae60;
  font-size: 11px;
  border-radius: 2px;
  width: 115px;
}

#salvar:hover {
  background-color: #588660;
}

input#importar {
  display: none;
  /* Gambiarra pra sumir o botão importar */
  text-transform: none;
}

iframe {
  display: block;
  width: 100%;
  border: none;
  min-height: 575px;
  max-height: 700px;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #694f43;
  text-transform: uppercase;
}

.form-iframe {
  margin: 0 auto;
  display: block;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#container {
  max-width: 600px;
  margin: 0 auto;
  justify-content: space-between;
}

button,
#loadingPage,
#statusDadosInseridos {
  box-sizing: border-box;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
  text-transform: uppercase;
}

/* Estilos gerais do botão */
#btnInserirDados {
  background-color: #694f43;
  color: white;
  border: none;
  font-size: 12px;
  font-weight: bold;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Estilos gerais do botão */
#btnLimparDados {
  background-color: #694f43;
  color: white;
  border: none;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 5px;
}

input {
  text-transform: uppercase;
}

input[type="date"],
input[type="time"],
textarea {
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  resize: vertical;
  background-color: #fff;
  color: #333;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  background-color: #fff;
  color: #333;
}

buttonclear {
  background-color: #694f43;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  float: right;
  transition: background-color 0.2s ease-in-out;
}

buttonclear:hover {
  background-color: #7c7565;
}

button {
  background-color: #694f43;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #7c7565;
}

@media screen and (max-width: 600px) {
  form {
      padding: 10px;
  }

  button {
      float: none;
  }

  h1 {
      font-size: 28px;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  input[type="date"],
  input[type="time"],
  textarea,
  select {
      font-size: 14px;
  }

  .botoes {
      display: grid;
      justify-content: center;
  }
}

.checkbox-wrapper-34 {
  --blue: #694f43;
  --g08: #d4d4d4;
  --g04: #000000;
  float: right;
  margin-left: -2000px;
  /* Gambiarra pra travar o botão de "materialidade envolvida" na direita */
}

.checkbox-wrapper-34 .tgl {
  display: none;
  float: right;
}

.checkbox-wrapper-34 .tgl,
.checkbox-wrapper-34 .tgl:after,
.checkbox-wrapper-34 .tgl:before,
.checkbox-wrapper-34 .tgl *,
.checkbox-wrapper-34 .tgl *:after,
.checkbox-wrapper-34 .tgl *:before,
.checkbox-wrapper-34 .tgl + .tgl-btn {
  box-sizing: border-box;
}

.checkbox-wrapper-34 .tgl::selection,
.checkbox-wrapper-34 .tgl:after::selection,
.checkbox-wrapper-34 .tgl:before::selection,
.checkbox-wrapper-34 .tgl *::selection,
.checkbox-wrapper-34 .tgl *:after::selection,
.checkbox-wrapper-34 .tgl *:before::selection,
.checkbox-wrapper-34 .tgl + .tgl-btn::selection {
  background: none;
}

.checkbox-wrapper-34 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 57px;
  height: 24px;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.checkbox-wrapper-34 .tgl + .tgl-btn:after,
.checkbox-wrapper-34 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 44%;
  height: 100%;
}

.checkbox-wrapper-34 .tgl + .tgl-btn:after {
  left: 0;
}

.checkbox-wrapper-34 .tgl + .tgl-btn:before {
  display: inline;
  position: absolute;
  top: 4px;
}

.checkbox-wrapper-34 .tgl:checked + .tgl-btn:after {
  left: 56.5%;
}

.checkbox-wrapper-34 .tgl-ios + .tgl-btn {
  background: var(--g08);
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  padding: 2px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ou 'center', dependendo do alinhamento desejado */
  max-width: 600px;
  margin: 0 auto;
}

.checkbox-container label {
  margin: 0;
}

.checkbox-wrapper-34 {
  margin-left: 0;
  margin-right: 10px; /* Ajuste esse valor conforme necessário */
  float: none;
}


.checkbox-wrapper-34 .tgl-ios + .tgl-btn:after {
  border-radius: 3px;
  background: #fff;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-wrapper-34 .tgl-ios + .tgl-btn:before {
  content: "NÃO";
  left: 28px;
  color: var(--g04);
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox-wrapper-34 .tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper-34 .tgl-ios + .tgl-btn:active:after {
  padding-right: 0.4em;
}

.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn {
  background: var(--blue);
}

.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active {
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.4em;
}

.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:before {
  content: "SIM";
  left: 6px;
  top: 4px;
  color: #fff;
}

/* INICIO DO MENU */
* {
  box-sizing: border-box;
}

.nav {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  text-align: right;
}

.nav > .nav-header {
  display: flex;
  align-items: center;
  /* Alinha verticalmente os elementos dentro de nav-header */
}

.nav > .nav-header > .imagem-menu {
  width: 50px;
  /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
  margin-right: 10px;
  /* Adicione um espaço entre a imagem e o título, se necessário */
}

.nav > .nav-header > .nav-title {
  font-size: 22px;
  color: #fff;
  margin: 0;
  /* Remova margin-top e margin-left */
}

.nav > .nav-links {
  font-size: 18px;
  color: #fff;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 20px 10px 20px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(192, 192, 192, 0.3);
}

.btn-confirm {
  background-color: #694f43; /* Cor de fundo do botão de confirmação */
  color: white; /* Cor do texto */
  border: none;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.btn-cancel {
  background-color: #694f43; /* Cor de fundo do botão de cancelamento */
  color: white; /* Cor do texto */
  border: none;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.btn-confirm:hover {
  background-color: #616161; /* Cor ao passar o mouse */
}

.btn-cancel:hover {
  background-color: #616161; /* Cor ao passar o mouse */
}


.nav > #nav-check {
  display: none;
}

/* Estilos gerais do botão */
#btnLimparDados {
  background-color: #694f43;
  color: white;
  border: none;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 5px;
}

@media (max-width: 4000px) {
  .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
  }

  .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
  }

  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0);
      /* COR DA SOMBRA DO MENU */
  }

  .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 3px solid #eee;
  }

  .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      height: auto;
      background-color: #333;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 60px;
      left: 0px;
  }

  .nav > .nav-links > a {
      display: block;
      width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
      width: 100vw;
      height: 100vh;
      overflow-y: hidden;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.9);
      /* Cor do fundo do menu */
  }

  /* Estilos gerais do botão */
  #btnLimparDados {
      background-color: #694f43;
      color: white;
      border: none;
      font-size: 12px;
      font-weight: bold;
      border-radius: 2px;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-right: 5px;
  }

  botao-dark-mode {
      position: absolute;
      right: 70px;
  }
}

body.scroll-lock {
  overflow: hidden;
}

/* FIM DO MENU */
/* DEFINIÇÕES DO TEMA ESCURO */
body {
  transition: background-color 1s, color 1s;
}

.nav {
  background-color: #000000;
  /* Cor de fundo da barra de navegação no modo claro */
  padding: 10px;
}

button#dark-mode-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#icon {
  width: 24px;
  height: 24px;
  transition: transform 1.5s;
  vertical-align: middle;
  filter: invert();
  float: none;
  margin-top: 3px;
}

body.dark-mode #icon {
  transform: rotate(360deg);
}

body.dark-mode {
  background-color: #222;
  color: #ffffff;
}

body.dark-mode form {
  background-color: #333;
}

body.dark-mode .tabela {
  background-color: #333;
}

body.dark-mode .resumo-container {
  background-color: #333;
}

body.dark-mode #calendario {
  background-color: #333;
}
body.dark-mode label {
  color: #eee;
}

body.dark-mode h1 {
  color: #eee;
}

form.dark-mode {
  background-color: #333;
  color: #eee;
  box-shadow: none;
}

form.dark-mode label {
  color: #ffffff;
}

input[type="date"].dark-mode,
input[type="time"].dark-mode,
textarea.dark-mode {
  background-color: #333;
  color: #eee;
  border-color: #eee;
}

button.dark-mode {
  background-color: #222;
  color: #eee;
}

iframe.dark-mode {
  filter: invert(100%) grayscale(1);
  width: 100%;
  border: none;
}

/* FIM DEFINIÇÕES DO TEMA ESCURO */
